[submodule "src/eqlib"]
	path = src/eqlib
	url = https://github.com/blbruegg/eqlib.git
[submodule "contrib/vcpkg"]
	path = contrib/vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
[submodule "data/lua/IntegrationTests"]
	path = src/plugins/lua/lua/IntegrationTests
	url = https://github.com/macroquest/integration-tests.git
[submodule "contrib/luarocks"]
	path = contrib/luarocks
	url = https://github.com/macroquest/luarocks.git
	shallow = true
[submodule "src/plugins/autoaccept"]
	path = src/plugins/autoaccept
	url = https://github.com/blbruegg/MQ2AutoAccept.git
[submodule "src/plugins/linkdb_current"]
	path = src/plugins/linkdb_current
	url = https://github.com/blbruegg/MQ2LinkDB.git
